$phoneWidth: 600px;
$desktopWidth: 1000px;

@mixin onPhone {
  @media (max-width: #{$phoneWidth}) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: #{$phoneWidth}) and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}

@mixin textOutline($color) {
  $outlineColor: $color;
  text-shadow:
    -1px -1px 0 $outlineColor,
    1px -1px 0 $outlineColor,
    -1px 1px 0 $outlineColor,
    1px 1px 0 $outlineColor;
}