img,
svg {
  &.standard-height {
    height: 20em;
  }

  &.small {
    height: 12em;
  }

  &.tall {
    height: 30em;
  }

  // A background for when the image is loading
  background: linear-gradient(30deg,
    rgba(235, 35, 0, 1) 0%,
    rgba(235, 235, 33, 1) calc(100%/3),
    rgba(35, 200, 225, 1) calc(200%/3),
    rgba(200, 0, 255, 1) 100%);
  object-fit: cover;
  object-position: center;
}