@use 'card';
@use 'overlay';
@use 'helpers' as h;
@use 'nav-bar';
@use 'images';
@use 'search';

body,
html,
.root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: justify;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3em 1fr min-content repeat(2, auto);
  grid-template-areas:
    "header"
    "main"
    "navbar";
}

img {
  // Nicer default for images, otherwise they squish when resized
  object-fit: cover;
  object-position: bottom center;

  // Removes a tiny little bit of whitespace that sometimes appears under images
  // This makes images that are last in the card look better, but I think is a good default for everthing as even in different places the extra whitespace looks bad
  vertical-align: middle;
}

.masonry {
  $columnGap: 1em;

  column-gap: $columnGap;

  >* {
    break-inside: avoid;
    margin-bottom: $columnGap;
  }

  @include h.onPhone {
    column-count: 1;
  }

  @include h.onTablet {
    column-count: 2;
  }

  @include h.onDesktop {
    column-count: 3;
  }
}

.larger-text {
  font-size: larger; // Equivalent of 120% bigger than parent
}

.x-large-text {
  font-size: x-large;
}

.text-on-image {
  color: white;
  text-shadow: 0 0 1em black;
}

.center-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.fill-screen {
  height: 100vh;
}

.fill-parent {
  // This assumes the parent has position: relative or something similar
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}