@use 'card';
@use 'overlay';
@use 'nav-bar';
@use 'images';
@use 'views';

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.root {
  padding: 0 0 nav-bar.$height 0;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: calc(10/16*100vh);
}

html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: justify;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  // Nicer default for images, otherwise they squish when resized
  object-fit: cover;
  object-position: bottom center;

  // Removes a tiny little bit of whitespace that sometimes appears under images
  // This makes images that are last in the card look better, but I think is a good default for everthing as even in different places the extra whitespace looks bad
  vertical-align: middle;
}

.larger-text {
  font-size: larger; // Equivalent of 120% bigger than parent
}

.x-large-text {
  font-size: x-large;
}

.text-on-image {
  color: white;
  text-shadow: 0 0 1em black;
}

.center-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.fill-parent {
  // This assumes the parent has position: relative or something similar
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}