$height: 3em !default;

.root {
  padding-bottom: $height !important;
}

#navbar-space {
  height: $height;
  width: 100%;
}

#navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $height;
  width: 100vw;
  z-index: 100; // Swiper uses some z-index stuff too, so make sure this is higher

  background-color: rgba(42, 42, 50, 1); // for now just closely mimicing my phone's navbar color

  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;

  >.button {
    height: $height;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    // box-shadow: inset 0px 0px 1em rgba(255, 255, 0, 0.5); // for debugging

    &.selected {
      color: white;
    }
  }
}