.with-overlay {
  // Give an element an overlay
  // Tested with one child and one overlay

  position: relative; // to allow for absolute positioning of the overlay

  >* {
    // Inherit the sizing so we don't have to explicitly set it again for the children
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
  }

  >.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50; // Higher than most, but not as high as the navbar
    pointer-events: none; // Let the underlying element decide on the pointer events by default, if I ever want buttons on the overlay I'll figure out how to make those work then
  }
}