@use 'nav-bar';

$edgePadding: 12pt;

.search-view {
  padding: $edgePadding;
  // Make it fill the screen (-navbar)
  height: calc(100vh - nav-bar.$height);
  height: calc(100dvh - nav-bar.$height);

  swiper-container {
    width: 100%;
    height: 100%;

    swiper-slide {
      // A background for when the image is loading
      background: linear-gradient(30deg,
          rgba(235, 35, 0, 1) 0%,
          rgba(235, 235, 33, 1) calc(100%/3),
          rgba(33, 200, 225, 1) calc(200%/3),
          rgba(200, 0, 255, 1) 100%);
    }
  }
}

.user-overview {
  padding: 0 $edgePadding;

  >* {
    min-height: 250pt;
    margin: $edgePadding 0;
    border-radius: 18pt;
  }
}

.profile {
  padding: 0 $edgePadding;

  >* {
    margin: $edgePadding 0;
  }

  .profile-header {
    min-height: 300pt;
  }
}