@use 'helpers';

$contentMargin: 0.75em !default;

.card {
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 .2em .5em .1em rgba(0, 0, 0, .25);

  >.full-width {
    margin: 0;
    width: 100%;

    img {
      vertical-align: bottom; // removes a tiny little bit of whitespace that sometimes appears under an image like this
    }
  }

  .content {
    margin: $contentMargin;
  }
}