@use 'helpers';

$contentMargin: 0.75em !default;

.card {
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 .2em .5em .1em rgba(0, 0, 0, .25);

  >*,
  .match-content {
    // Use margin for top and bottom because they can overlap
    margin: $contentMargin 0;
    // Use padding for left and right for cleaner box-sizing
    padding: 0 $contentMargin;
  }

  // Allow overriding the content margin and go full width
  .full-width {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}