@use 'helpers';

$contentMargin: 0.75em !default;

.card {
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 .2em .5em .1em rgba(0, 0, 0, .25);

  >figure {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative; // to allow for absolute figcaption

    >img {
      width: 100%;
      vertical-align: bottom; // removes a tiny little bit of whitespace in the case there is no extra content in the card
      max-height: 75vh;
      object-fit: cover;
    }

    >figcaption {
      position: absolute;
      bottom: $contentMargin;
      margin: 0 $contentMargin;

      .header {
        font-size: larger;
        font-weight: bold;
        color: white;
        @include helpers.textGlow;
      }

      .sub-header {
        color: rgb(234, 234, 234);
        @include helpers.textGlow;
      }
    }
  }

  >.content {
    margin: $contentMargin;
  }
}