.users {
  .user {
    position: absolute;
    transition: all 1s ease;

    &.overview {
      bottom: 0;
      left: 0;
    }

    &.saved {
      bottom: 0;
      left: 500px;
    }
  }
}

.swipe_tryout {
  width: 200px;
  height: 200px;
  background: grey;
}