@use 'card';
@use 'helpers' as h;
@use 'nav-bar';

body {
  overflow-wrap: break-word;
  text-align: justify;
}

.columns {
  $columnGap: 1em;

  column-gap: $columnGap;

  >div {
    break-inside: avoid;
    margin-bottom: $columnGap;
  }

  @include h.onPhone {
    column-count: 1;
  }

  @include h.onTablet {
    column-count: 2;
  }

  @include h.onDesktop {
    column-count: 3;
  }
}

figure.image-with-overlay {
  position: relative; // to allow for absolute figcaption

  >img {
    width: 100%;
    object-fit: cover;
  }

  >.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.larger-text {
  font-size: larger;
  font-weight: bold;
}

.text-on-image {
  color: white;
  @include h.textGlow;
}