@use 'card';
@use 'overlay';
@use 'helpers' as h;
@use 'nav-bar';
@use 'images';

html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: justify;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  // Nicer default for images, otherwise they squish when resized
  object-fit: cover;

  // Removes a tiny little bit of whitespace that sometimes appears under images
  // This makes images that are last in the card look better, but I think is a good default for everthing as even in different places the extra whitespace looks bad
  vertical-align: middle;
}

.masonry {
  $columnGap: 1em;

  column-gap: $columnGap;

  >* {
    break-inside: avoid;
    margin-bottom: $columnGap;
  }

  @include h.onPhone {
    column-count: 1;
  }

  @include h.onTablet {
    column-count: 2;
  }

  @include h.onDesktop {
    column-count: 3;
  }
}

.larger-text {
  font-size: larger;
  font-weight: bold;
}

.text-on-image {
  color: white;
  @include h.textGlow(rgba(0, 0, 0, 0.5));
}

.center-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.fill-screen {
  height: 100vh;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 4em);
  height: calc(100vh - 4em);
  padding: 2em;

  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.max-height-half-screen {
  max-height: 50vh;
}